# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.bin
*.app
*.i*86
*.x86_64
*.hex

# third_party folder.
/third_party/*
!/third_party/*.mk
/build_*
.project
.cproject
.settings
